/*********************************************/
/*****                                   *****/
/*****  Documento CSS                    *****/
/*****                                   *****/
/*****  Fecha: 07/11/2016                *****/
/*****  Autor: Lcda. Dayan Betancourt    *****/
/*****                                   *****/
/*********************************************/
@import "https://fonts.googleapis.com/css?family=Farsan|Kalam|Cutive+Mono";

/*********************************************/
/*****        Etiquetas Globales         *****/
/*********************************************/
body {
	font-family: 'Farsan', cursive, serif;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Kalam', cursive, serif;
	color: #00008C;
}

/*********************************************/
/*****        Etiquetas Generales        *****/
/*********************************************/
.img-responsive {
	height: auto;
	width: 100%;
}

.icono {
	display: inline-block;
	text-align: center;
	width: 1em;
}

.lista-cero {
	margin: 0;
	padding: 0;
}

.lista-cero li {
	list-style: none;
}

.redes li {
	display: inline-block;
	font-size: 2.6em;
	margin: 0 4px;
}

.redes li a {
	text-decoration: none;
}

.sombra {
	-webkit-box-shadow: 8px 6px 5px #B9B9B9;
	   -moz-box-shadow: 8px 6px 5px #B9B9B9;
	        box-shadow: 8px 6px 5px #B9B9B9;
}

/*********************************************/
/*****         Encabezado - Menú         *****/
/*********************************************/
.encabezado-inicio {
	background-color: transparent;
	border: none;
	color: #FFFFFF;
	height: 90px;
}

.encabezado {
	background-color: #00008C;
	color: #FFFFFF;
	height: 90px;
}

.encabezado-fondo {
	background-color: #00008C;
}

.espaciado-menu {
	padding-top: 90px;
}

.encabezado-inicio .navbar-brand, .encabezado .navbar-brand {
	padding-top: 0;
}

.encabezado-inicio .navbar-toggle, .encabezado .navbar-toggle {
	margin: 24px 20px 24px;
}

.logo {
	width: 120px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #FFFFFF;
  color: #00008C;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	-webkit-border-radius: 6px;
		 -moz-border-radius: 6px;
		 	 -o-border-radius: 6px;
		 	 		border-radius: 6px;
  color: #FFFFFF;
  margin: 0 2px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: rgba(255, 255, 255, .7);
  color: #00008C;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #00008C;
}

/*********************************************/
/*****              Portada              *****/
/*********************************************/
.portada {
	background-attachment: fixed;
	background-image: url("../img/bg-oficina.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
		 	 -o-background-size: cover;
		 	 		background-size: cover;
	color: #FFFFFF;
	height: 100vh;
	overflow: hidden;
}

.portada h1 {
	color: #FFFFFF;
}

.portada h2 {
	font-family: 'Cutive Mono', monospace, serif;
	color: #FFC200;
}

.portada .container {
	height: 100vh;
	position: relative;
}

.portada .btn-default {
	background-color: transparent;
	border-color: #FFFFFF;
	color: #FFFFFF;
	margin: 0 1em;
}

.portada-titular {
	margin-top: 30vh;
	-webkit-transition: all 4s ease-in-out;
	   -moz-transition: all 4s ease-in-out;
	    -ms-transition: all 4s ease-in-out;
	     -o-transition: all 4s ease-in-out;
	        transition: all 4s ease-in-out;
}

.portada-titular:hover h1 {
	-webkit-transform: translateY(160px);
	   -moz-transform: translateY(160px);
	    -ms-transform: translateY(160px);
	     -o-transform: translateY(160px);
	        transform: translateY(160px);
}

.portada-titular:hover h2 {
	-webkit-transform: translateY(-160px);
	   -moz-transform: translateY(-160px);
	    -ms-transform: translateY(-160px);
	     -o-transform: translateY(-160px);
	        transform: translateY(-160px);
}

.portada-acciones {
	bottom: 1em;
	left: 0;
	position: absolute;
	right: 0;
}

/*********************************************/
/*****           Pie de Página           *****/
/*********************************************/
.piePag {
	background-color: #000000;
	color: #CCCCCC;
	font-family: 'Cutive Mono', monospace, serif;
	font-size: .7em;
}

.piePag h2 {
	color: #FFFFFF;
	font-size: 20px;
}

.piePag a {
	color: #FFFFFF;
}

.piePag hr {
	margin: .8em 0;
}

.derechos {
	font-size: .8em;
	text-align: center;
}

/*********************************************/
/*****            Habilidades            *****/
/*********************************************/
.habilidad {
	background-color: #8ED6F5;
	border: 1px solid #00008C;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: .8em;
	position: relative;
	text-align: center;
}

.habilidad:before, .habilidad:after {
  -webkit-border-radius: 100px / 10px;
  	 -moz-border-radius: 100px / 10px;
  	 			border-radius: 100px / 10px;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  	 -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  	 			box-shadow: 0 0 20px rgba(0,0,0,0.8);
  bottom: 0;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: -1;
}

.habilidad:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(8deg) rotate(3deg);
     -moz-transform: skew(8deg) rotate(3deg);
      -ms-transform: skew(8deg) rotate(3deg);
       -o-transform: skew(8deg) rotate(3deg);
          transform: skew(8deg) rotate(3deg);
}

.habilidad img {
	margin: 0 auto;
	width: 60%;
}

/*********************************************/
/*****             Contacto              *****/
/*********************************************/
.contacto {
	margin-bottom: 1em;
}

#form_contacto, #contacto_exito, #contacto_error {
	margin-top: 1.2em;
}

/*********************************************/
/*****            Suscripción            *****/
/*********************************************/
.suscripcion {
	background-color: #FFC200;
	margin-bottom: 0;
	padding-bottom: .6em;
	padding-top: 0;
}

/*********************************************/
/*****             Formulario            *****/
/*********************************************/
.btn {
	border-color: #00008C;
	border-width: 2px;
	font-family: 'Cutive Mono', monospace, serif;
	font-weight: bold;
}

.form-control.sombra:focus {
	background-color: #00008C;
	border-color: #CCCCCC;
	-webkit-box-shadow: 8px 6px 5px #B9B9B9;
	   -moz-box-shadow: 8px 6px 5px #B9B9B9;
	        box-shadow: 8px 6px 5px #B9B9B9;
	color: #FFFFFF;
}

.btn-default {
	color: #00008C;
}

.btn-default:hover {
	background-color: #00008C;
	border-color: #00008C;
	color: #FFFFFF;
}

.input-group-btn .btn-default {
	border-width: 1px;
}

.btn-accion1:hover {
	background-color: #FFC200;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.btn-accion2:hover {
	background-color: #00008C;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

input[type="checkbox"], input[type="radio"] {
	display: block;
	float: left;
	margin-right: -1.6em;
	opacity: 0;
	width: auto;
	z-index: -1;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	cursor: pointer;
	display: inline-block;
	padding-left: 2em;
	position: relative;
	text-align: left;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
	border: 2px solid #00008C;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
       		border-radius: 6px;
	content: '';
	display: inline-block;
	height: 1.4em;
	left: 0;
	position: absolute;
	top: 0;
	width: 1.4em;
}

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
	background-color: #00008C;
	color: #FFFFFF;
	content: '\f00c';
	font-family: 'icomoon';
	line-height: 1em;
	padding-top: 2px;
	text-align: center;
	vertical-align: middle;
}

.has-warning .form-control {
	background-color: #FFC200;
}

.has-error .form-control {
	background-color: #F36D66;
	color: #FFFFFF;
}

.has-success .form-control {
	background-color: #CAFBE1;
}

.bg-danger {
	background-color: #F7857F;
}

/*********************************************/
/*****           MEDIA QUERIES           *****/
/*********************************************/
@media screen and (min-width: 520px) {
	.portada-titular:hover h1 {
		-webkit-transform: translateY(120px);
		   -moz-transform: translateY(120px);
		    -ms-transform: translateY(120px);
		     -o-transform: translateY(120px);
		        transform: translateY(120px);
	}

	.portada-titular:hover h2 {
		-webkit-transform: translateY(-120px);
		   -moz-transform: translateY(-120px);
		    -ms-transform: translateY(-120px);
		     -o-transform: translateY(-120px);
		        transform: translateY(-120px);
	}
}

@media screen and (min-width: 768px) {
	#menuWeb {
		background-color: transparent;
		margin-top: 20px;
	}

	.portada-titular {
		margin-top: 40vh;
	}

	.portada-titular:hover h1 {
		-webkit-transform: translateY(110px);
		   -moz-transform: translateY(110px);
		    -ms-transform: translateY(110px);
		     -o-transform: translateY(110px);
		        transform: translateY(110px);
	}

	.portada-titular:hover h2 {
		-webkit-transform: translateY(-110px);
		   -moz-transform: translateY(-110px);
		    -ms-transform: translateY(-110px);
		     -o-transform: translateY(-110px);
		        transform: translateY(-110px);
	}
}

@media screen and (min-width: 1024px) {
	.portada-titular:hover h1 {
		-webkit-transform: translateY(80px);
		   -moz-transform: translateY(80px);
		    -ms-transform: translateY(80px);
		     -o-transform: translateY(80px);
		        transform: translateY(80px);
	}

	.portada-titular:hover h2 {
		-webkit-transform: translateY(-80px);
		   -moz-transform: translateY(-80px);
		    -ms-transform: translateY(-80px);
		     -o-transform: translateY(-80px);
		        transform: translateY(-80px);
	}
}