/*********************************************/
/*****                                   *****/
/*****  Documento CSS                    *****/
/*****                                   *****/
/*****  Fecha: 07/11/2016                *****/
/*****  Autor: Lcda. Dayan Betancourt    *****/
/*****                                   *****/
/*********************************************/
@import "https://fonts.googleapis.com/css?family=Farsan|Kalam|Cutive+Mono";

/*********************************************/
/*****        Etiquetas Globales         *****/
/*********************************************/
body {
	font-family: 'Farsan', cursive, serif;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Kalam', cursive, serif;
}

/*********************************************/
/*****        Etiquetas Generales        *****/
/*********************************************/


/*********************************************/
/*****         Encabezado - Menú         *****/
/*********************************************/
.encabezado-inicio {
	background-color: transparent;
	border: none;
	color: #FFFFFF;
	height: 90px;
}

.encabezado-inicio .navbar-brand {
	padding-top: 0;
}

.encabezado-inicio .navbar-toggle {
	margin: 24px 20px 24px;
}

.encabezado-fondo {
	background-color: #00008C;
}

.logo {
	width: 120px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #FFFFFF;
  color: #00008C;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	-webkit-border-radius: 6px;
		 -moz-border-radius: 6px;
		 	 -o-border-radius: 6px;
		 	 		border-radius: 6px;
  color: #FFFFFF;
  margin: 0 2px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: rgba(255, 255, 255, .7);
  color: #00008C;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #00008C;
}

/*********************************************/
/*****              Portada              *****/
/*********************************************/
.portada {
	background-attachment: fixed;
	background-image: url("../img/bg-oficina.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
		 	 -o-background-size: cover;
		 	 		background-size: cover;
	color: #FFFFFF;
	height: 100vh;
	overflow: hidden;
}

.portada h2 {
	font-family: 'Cutive Mono', monospace, serif;
	color: #FFC200;
}

.portada .container {
	height: 100vh;
	position: relative;
}

.portada .btn-default {
	background-color: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-family: 'Cutive Mono', monospace, serif;
	font-weight: bold;
	margin: 0 1em;
}

.portada .btn-accion1:hover {
	background-color: #FFC200;
}

.portada .btn-accion2:hover {
	background-color: #00008C;
}

.portada-titular {
	margin-top: 40vh;
	-webkit-transition: all 4s ease-in-out;
	   -moz-transition: all 4s ease-in-out;
	    -ms-transition: all 4s ease-in-out;
	     -o-transition: all 4s ease-in-out;
	        transition: all 4s ease-in-out;
}

.portada-titular:hover h1 {
	-webkit-transform: translateY(80px);
	   -moz-transform: translateY(80px);
	    -ms-transform: translateY(80px);
	     -o-transform: translateY(80px);
	        transform: translateY(80px);
}

.portada-titular:hover h2 {
	-webkit-transform: translateY(-80px);
	   -moz-transform: translateY(-80px);
	    -ms-transform: translateY(-80px);
	     -o-transform: translateY(-80px);
	        transform: translateY(-80px);
}

.portada-acciones {
	bottom: 1em;
	left: 0;
	position: absolute;
	right: 0;
}

/*********************************************/
/*****               Menu                *****/
/*********************************************/

/*********************************************/
/*****           Pie de Página           *****/
/*********************************************/
.piePag {
	background-color: #000000;
	color: #CCCCCC;
	font-family: 'Cutive Mono', monospace, serif;
	font-size: .7em;
}

.piePag h2 {
	font-size: 20px;
}

.piePag ul {
	margin: 0;
	padding: 0;
}

.piePag ul li {
	list-style: none;
}

.piePag a {
	color: #FFFFFF;
}

.piePag hr {
	margin: .8em 0;
}

.piePag .icono {
	font-size: 20px;
}

.piePag .derechos {
	font-size: .8em;
	text-align: center;
}

.piePag .redes li {
	display: inline-block;
	font-size: 3em;
	margin: 0 4px;
}

.piePag .redes li a {
	text-decoration: none;
}

/*********************************************/
/*****             Formulario            *****/
/*********************************************/

/*********************************************/
/*****           MEDIA QUERIES           *****/
/*********************************************/
@media screen and (max-width: 768px) {
	.portada-titular {
		margin-top: 30vh;
	}
}

@media screen and (min-width: 768px) {
	#menuWeb {
		background-color: transparent;
		margin-top: 20px;
	}
}